<main>
    <section>
        {{!-- <div class="display-1 text-center">Hello world
        </div>
        <hr>
        <div class="display-6 text-lowercase">
            Lower text
        </div>

        <h3 class="text-capitalize">Text capitalize</h3>
        <div class="display-6 text-uppercase">
            Text uppercase
        </div>
        <div class="display-6 text-end">Text end
        </div>

        <span class=" display-5 text-muted"> Додатковий текст</span>

        <div class="text-muted text-end">
            Додатковий текст
        </div>

        <div>
            <button class="btn btn-primary">
                <span class="text-uppercase">
                    Pimary
                </span>
            </button>
            <button class="btn btn-secondary">
                <span class="text-uppercase">
                    Secondary
                </span>
            </button>
            <button class="btn btn-access">
                <span class="text-uppercase">
                    Access
                </span>
            </button>
            <button class="btn btn-danger">
                <span class="text-uppercase">
                    Danger
                </span>
            </button>
            <button class="btn btn-warning">
                <span class="text-uppercase">
                    Warning
                </span>
            </button>
            <button class="btn btn-info">
                <span class="text-uppercase">
                    Info
                </span>
            </button>
            <button class="btn btn-light">
                <span class="text-uppercase">
                    Light
                </span>
            </button>
            <button class="btn btn-dark">
                <span class="text-uppercase">
                    Dark
                </span>
            </button>
            <button class="btn btn-link">
                <span class="text-uppercase">
                    Link
                </span>
            </button>
            <hr>
            <p class="text-danger">
                Text
            </p>
        </div>
        <hr>
        <br>
        <div class="card">
            <div class="card-body">
                <button class="btn btn-outline-primary btn-lg">
                    Outline button
                </button>
                <button class="btn btn-outline-primary btn-sm">
                    Outline button
                </button>
            </div>
        </div>
        <hr>
        <br>
        <div class="card card-body">
            Card
        </div> --}}
        <hr>
        <br>
        <div class="card text-bg-dark">
            <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
            <div class="card-body">
                <h5 class="card-title text-bg-light">Title</h5>
                <p>Hello world</p>
                <a href="#" class="btn btn-primary">Open</a>
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class="card">
            <div class="card-header">
                <div>Menu</div>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#" class="btn btn-link"> Home page</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="btn btn-link"> Summary page</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="btn btn-link"> Skills page</a>
                </li>
            </ul>

            <div class="card-footer">
                <button class="btn btn-dark btn-sm">Update list</button>
            </div>
        </div>

        <br>
        <br>
        <br>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        #id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Age
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>1</th>
                    <td>Tanya</td>
                    <td>20</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Dima</td>
                    <td>23</td>
                </tr>
            </tbody>
        </table>


        <br>
        <br>
        <br>

        {{!-- <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <p>This is content of our box</p>
                <button class="btn btn-light">Click</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div> --}}

        <br>
        <br>
        <br>

        <div class="row g-2">
            <div class="col-6">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">This is title</h6>
                        <p>This is content of our box</p>
                        <button class="btn btn-light">Click</button>
                    </div>
                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">This is title</h6>
                        <p>This is content of our box</p>
                        <button class="btn btn-light">Click</button>
                    </div>
                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>
        </div>

    </section>
</main>