{{!-- <main>
    <div class="display-1 text-center">Hello world
    </div>
    <hr>
    <div class="display-6 text-lowercase">
        Lower text
    </div>

    <h3 class="text-capitalize">Text capitalize</h3>
    <div class="display-6 text-uppercase">
        Text uppercase
    </div>
    <div class="display-6 text-end">Text end
    </div>

    <span class=" display-5 text-muted"> Додатковий текст</span>

    <div class="text-muted text-end">
        Додатковий текст
    </div>

    <div>
        <button class="btn btn-primary">
            <span class="text-uppercase">
                Pimary
            </span>
        </button>
        <button class="btn btn-secondary">
            <span class="text-uppercase">
                Secondary
            </span>
        </button>
        <button class="btn btn-access">
            <span class="text-uppercase">
                Access
            </span>
        </button>
        <button class="btn btn-danger">
            <span class="text-uppercase">
                Danger
            </span>
        </button>
        <button class="btn btn-warning">
            <span class="text-uppercase">
                Warning
            </span>
        </button>
        <button class="btn btn-info">
            <span class="text-uppercase">
                Info
            </span>
        </button>
        <button class="btn btn-light">
            <span class="text-uppercase">
                Light
            </span>
        </button>
        <button class="btn btn-dark">
            <span class="text-uppercase">
                Dark
            </span>
        </button>
        <button class="btn btn-link">
            <span class="text-uppercase">
                Link
            </span>
        </button>
        <hr>
        <p class="text-danger">
            Text
        </p>
    </div>
    <hr>
    <br>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-primary btn-lg">
                Outline button
            </button>
            <button class="btn btn-outline-primary btn-sm">
                Outline button
            </button>
        </div>
    </div>
    <hr>
    <br>
    <div class="card card-body">
        Card
    </div>
</main> --}}